<%=frstn%> <%=surname%> <%=visage%>
	Doth thou preffer 3 numbers to the lot?
<form method="post" action="numbers">
 	<input type="number" name="numb1" required> 
 	<input type="number" name="numb2" required>
 	<input type="number" name="numb3" required>
 	<input type="submit" value="ALSOABUTTON">
 	<input type="hidden" name="frstn" value="<%=frstn%>">
 	<input type="hidden" name="s_name" value="<%=s_name%>">
 	<input type="hidden" name="visage" value="<%=visage%>">
 </form>

