<h1>Herein lie thine resultant details</h1>
<form method="post" action="res"> 
<h3>Thou hast the Title of</h3>

<p><%=frstn%> 
<%=s_name%> </p>

<h3>The hue of thine hair is</h3>
<p><%=fur%></p>

<h3>The tint of thine eyes be</h3>
<p><%=orbs%></p>

<h3>Thou art </h3>
<p><%=yrs%>
years of age</p> 

<h3>Thy fare of choice be</h3>
<p><%=grub%>

<h3>Libation thou desireth is</h3>
<p><%=libs%></p>

<h3>The following integers are those you deem to be luckiest</h3> 
<p><%=nums%> </p>
</form>
