Herein lie thine resultant details

Thou hast the title of
<p><%=frstn%> 
<%=s_name%> </p>

The hue of thine hair is
<p><%=fur%></p>

The tint of thine eyes be
<p><%=orb%></p>

The following integers are those you deem to be luckiest 
<p><%=n1%> 

<%=n2%> 

<%=n3%></p>

Thou art 
<p><%=age%></p>
years of age 
