
<%=frstn%> <%=s_name%> <%=fur%> <%=orbs%>

	How old art thou?
<form method="post" action="age">
 	<input type="text" name="yrs" required> 
 	Pushdabutton
 	<input type="submit" value="ALSOABUTTON">
 	<input type="hidden" name="frstn" value="<%=frstn%>">
 	<input type="hidden" name="s_name" value="<%=s_name%>">
 	<input type="hidden" name="fur" value="<%=fur%>">
 	<input type="hidden" name="orbs" value="<%=orbs%>">
 </form>
