
<%=frstn%> <%=s_name%> <%=fur%> <%=orbs%>

	<h1>How aged art thou?</h1>

<form method="post" action="age">
 	<input type="text" name="yrs" required> 
 	Submit:?
 	<input type="submit" value="??BUTTON??">
 	<input type="hidden" name="frstn" value="<%=frstn%>">
 	<input type="hidden" name="s_name" value="<%=s_name%>">
 	<input type="hidden" name="fur" value="<%=fur%>">
 	<input type="hidden" name="orbs" value="<%=orbs%>">
 </form>
